// includes the general information section for documents

.row(style="padding-top:30px")
  .col-lg-12
    .panel.panel-info
        .panel-heading
          h3.panel-title General Information
        .panel-body
          form(name="houseUpdate", role="form", ref="houseUpdate", onsubmit="return validateForm()", action="../db/house/updateHouse", method="post")  
            .col-lg-6.col-sm-12
              h4 House
              .input-group(style='width:90%')
                span.input-group-addon.readonly(style='width:30%') Address
                input.form-control(type='text' name='address' value='#{info.address.trim()}')
              .input-group(style='width:90%')
                span.input-group-addon.readonly(style='width:30%') City
                input.form-control(type='text' name='city' value='#{info.city.trim()}')
              .input-group(style='width:90%')
                span.input-group-addon.readonly(style='width:30%') Province
                input.form-control(type='text' name='province' value='#{info.province.trim()}')
              .input-group(style='width:90%')
                span.input-group-addon.readonly(style='width:30%') Country
                input.form-control(type='text' name='country' value='#{info.country.trim()}')
              .input-group(style='width:90%')
                span.input-group-addon.readonly(style='width:30%') Postal Code
                input.form-control(type='text' name='postal_code' value='#{info.postal_code.trim()}')
              .input-group(style='width:90%')
                span.input-group-addon.readonly(style='width:30%') Invite Code
                input.form-control(type='text' name='invite_code' disabled value='#{info.invite_code.trim()}')
            
              .row(style="padding-top:30px")
                .col-lg-6.col-sm-12
                  input.form-control.btn.btn-default(type='submit', value='Click to Apply Changes' style="width:200px")

        .panel-body
          .col-lg-6.col-sm-12
            h4 House Image Upload
              .input-group(style='width:90%')
                form(role="form", ref="asdf", action="/uploadhousepicture", method="post", enctype="multipart/form-data")
                  input#fileup(type="file", name="userFiles[]" multiple style='padding-bottom:10px; display:none')
                  input#filesub(type="submit", value="Upload", style="display:none")
                  input#uploadimage.btn.btn-default(type="button" value="Upload Image")


      script.
        if (window.location.search!=""){
          $("#modify-info").hide();
          $("input").attr("disabled","disabled");
        }
        function validateForm() {
          var a = document.forms["houseUpdate"]["address"].value;
          var b = document.forms["houseUpdate"]["city"].value;
          var c = document.forms["houseUpdate"]["province"].value;
          var d = document.forms["houseUpdate"]["country"].value;
          var e = document.forms["houseUpdate"]["postal_code"].value;
          if (a == null || a == "") {
              alert("Address cannot be left blank");
              return false;
          }
          if (b == null || b == "") {
              alert("City cannot be left blank");
              return false;
          }
          if (c == null || c == "") {
              alert("Province cannot be left blank");
              return false;
          }
          if (d == null || d == "") {
              alert("Country cannot be left blank");
              return false;
          }
          if (e == null || e == "") {
              alert("Postal Code cannot be left blank");
              return false;
          }
        }
