.row
	.col-lg-12
		.panel.panel-info
			.panel-heading
				h3.panel-title Members
			.table-responsive
				table.table
					thead
						tr
							th
							th Name
							th Email
							th Number
							th Role
							th
					tbody
						each val in members
							tr
								th(scope='row')
									img.img-circle.center(src='../uploads/userpics/#{val.user_id}', onerror="this.src='../img/avatars/avatar.jpg'", style="margin:0px; width:50px")
								td= val.full_name
								td= val.email
								td= val.cell_num
								if val.role == 1
									td admin
								else
									td member
								td
									.btn-group(role='group', aria-label='...')
										button.btn.btn-default(type='button' onClick='window.location.href = "userprofile?uid=#{val.user_id}"') View
										//button.btn.btn-default(type='button') Message
										//button.btn.btn-default(type='button') Remove
