extends ./app.jade

block content
	div.row
		div.col-lg-12
			h3.page-header= profile.full_name
			button.btn.btn-default(style="margin-top:-60px; float:right") Send Message
		div.col-xs-3
			img.img-circle.center(src='../img/avatars/avatar.jpg', width='90%')
		div.col-xs-9
			div.table-responsive
				table.table
					tr
						td Age
						td
							input.form-control(type='text' readonly=true value='#{profile.age}' )
					tr
						td Date of Birth
						td
							input.form-control(type='text' readonly=true value='#{profile.date_of_birth}' )
					tr
						td Contact Number
						td
							input.form-control(type='text' readonly=true value='#{profile.cell_num}' )
					tr
						td Contact Email
						td
							input.form-control(type='text' readonly=true value='#{profile.email}' )
					tr 
						td Rating
						td 2/5
					tr
						td Description
						td
							textarea.form-control(type='text' readonly=true)= profile.description
