extends ./app.jade

block content
  div.row
  div.col-lg-12
      h3.page-header= profile.full_name
    div.col-xs-3
      img.img-circle.center(src='../uploads/userpics/#{useridid}', width='90%', onerror="this.src='../img/avatars/avatar.jpg'")
      if admin
        form(role="form", ref="asdf", action="/uploadprofilepicture", method="post", enctype="multipart/form-data")
          input#fileup(type="file", name="userFiles[]" multiple style='padding-bottom:10px; display:none')
          input#filesub(type="submit", value="Upload", style="display:none")
          input#uploadimage.btn.btn-default(type="button" value="Upload Image")
    form(name="updateForm", role="form", ref="updateForm",  onsubmit="return validateForm()", action="../db/auth/update", method="post")
      div.col-xs-9
        div.table-responsive
          table.table
            tr
              td Name
              td
                input#fullname.form-control(type='text', name='full_name', value='#{profile.full_name}')
            tr
              td Contact Email
              td=profile.email
            tr
              td Contact Number
              td
                input#cell_num.form-control(type='text', name='cell_num', value='#{profile.cell_num}' )
            tr
              td Description
              td
                input#description.form-control(type='text', name='description', value='#{profile.description}')
           tr
             td
             td
               input#modify-info.form-control.btn.btn-default(type='submit', name='modify-info', style="float:right" value='Click to Apply Changes')


  script.
    if (window.location.search!=""){
      $("#modify-info").hide();
      $("input").attr("disabled","disabled");
    }
    function validateForm() {
      var x = document.forms["updateForm"]["full_name"].vlaue;
      var y = document.forms["updateForm"]["cell_num"].value;
      var z = document.forms["updateForm"]["description"].value;
      if ((x || y || z) == null || (x || y || z) == "") {
          alert("Fields cannot be left blank");
          return false;
      }
    }
    
    $("#uploadimage").click(function(){
        $("#fileup").trigger("click");
      })
      
    $("#fileup").change(function(){
      console.log("uploaded");
      $("#filesub").trigger('click');
    })
    
      
