ul.nav.navbar-top-links.navbar-right
  li.dropdown
    a#notificationButton.dropdown-toggle(data-toggle='dropdown', href='#',aria-expanded="false")
      i.fa.fa-bell.fa-fw
      i.fa.fa-caret-down
    ul#notification.dropdown-menu.dropdown-alerts
     // li
      //  a(href='#')
        //  div
        //    i.fa.fa-comment.fa-fw
        //    |  New Comment
       //     span.pull-right.text-muted.small 4 minutes ago
      //li.divider
      //li
      //  a.text-center(href='#')
      //    strong See All Alerts
      //    i.fa.fa-angle-right
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown', href='#')
      i.fa.fa-user.fa-fw
      | #{user.email} 
      i.fa.fa-caret-down
    ul.dropdown-menu.dropdown-user
      li
        img.img-circle.center(src='../uploads/userpics/#{user.uid}', width='100', onerror="this.src='../img/avatars/avatar.jpg'")
      li
        a(href='userprofile')
          i.fa.fa-user.fa-fw
          |  User Profile
      li.divider
      li
        a(href='logout')
          i.fa.fa-sign-out.fa-fw
          |  Logout

  script.
    refreshNotification();
    setInterval(refreshNotification,5000);

    $("#notificationButton").on("click",function (){
      if ($("#notificationButton").attr("aria-expanded") == "false"){
        $('#notificationButton').css("color","#428bca");
        $.ajax({
          url: "../db/notification/markViewed",
          method: 'post',
          dataType: 'json',
          success: function (response) {
          },
          error: function (error) {
            alert("error while updating notification");
          }
        });
      }
    });

    function refreshNotification(){
      $.ajax({
        url: "../db/notification/getNotification",
        method: 'post',
        dataType: 'json',
        success: function (response) {
          $('#notification').empty();
          var i;
          if (response.length>0){
            if(!response[0].viewed){
              $('#notificationButton').css("color","red");
            }else{
              $('#notificationButton').css("color","#428bca");
            }
          }
          for (i = 0; i < response.length; i++) {
            var sec = Math.floor(response[i].time_passed);
            var min=Math.floor(sec/60);
            var hour=Math.floor(sec/60/60);
            var day=Math.floor(sec/60/60/24);

            var time="";
            if (day>=1){
            }else if (hour>=1){
              time = hour + " hours ago";
            }else if (min>=1){
              time = min + " minutes ago";
            }else{
              time = sec + " seconds ago";
            }
            $('#notification').append('<li><a href="'+response[i].action+'"><div>'+ response[i].description+' </br><span class="pull-right text-muted small">'+time+'</span></div></a></li><li class="divider"></li>');
          }
        },
        error: function (error) {
          console.log("error");
        }
      })};
